@model List<Alumno>
@{
    ViewData["Title"] = "Informacion Alumno";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>
<strong>Desde la vista Parcial</strong>
<partial name="ListaObjetosEscuela"></partial>
<p>Fecha: @ViewData["Fecha"]</partial>