@model Asignatura
@{
    ViewData["Title"] = "Informacion Asignaturas";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>
<h2>Nombre: @Model.Nombre </h2>
<h2>Fecha: @ViewData["Fecha"]</h2>
<p><i>@ViewData["CosaDinamica"]</i></p>