@model List<Asignatura>
@{
    ViewData["Title"] = "Informacion Asignaturas";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>
<strong>Desde la vista Normal</strong>

<partial name="ListaObjetosEscuela" ></partial>
    

<strong>Desde la vista parcial</strong>
<p>Fecha: @ViewData["Fecha"]</partial>