@model List<Asignatura>
@{
    ViewData["Title"] = "Informacion Asignaturas";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>
<strong>Desde la vista Normal</strong>
@foreach (var asignatura in Model)
{
<partial name="AsignaturaSimple" model="asignatura"></partial>
    
}
<strong>Desde la vista parcial</strong>
<p>Fecha: @ViewData["Fecha"]</partial>